body{
    margin: 0;
    background-color:aqua;
}
.body-wrapper{
    padding: 5px 10px;
    margin-left: 10px;
}
.nav_Bar{
    display: flex;
    background-color: chartreuse;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.nav_Bar > div {
    background-color: aquamarine;
    color: black;
    width: 120px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-family: cursive, Courier, monospace;
    border-radius: 20px;
}
.footer{
    position: sticky;
    bottom:0;
    width: 100%;
    background-color:chartreuse;
    text-align: center;
}
.button{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 30px;
    border-color: darkblue;
}
.button > div {
    text-align: center;
    line-height: 70px;
}
.aboutMe{
    display: flex;
    justify-content: space-around;
}
.aboutMe > div{
    margin: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 40px;

}
